
.standard {
    text-align: center;
}

.login {
    text-align: center;
}

.login_form {
    display: inline-block;
    padding: 30px 25px 25px 25px;
}

form .row{
    height: 45px;
    margin-bottom: 15px;
}

form .row input{
    height: 100%;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .button input{
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background: #BF0000;
    border: 0px solid #16a085;
    cursor: pointer;
}